page-home {
    ion-card, .card-md, .card.ios{
        min-height: 200px;
        background: initial;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
